.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.list {
  width: 400px;
  text-align: center;
  padding: 0;
  border: 1px solid white;
}
